[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/cmnd-ctrl
[access "refs/for/refs/*"]
	read = group user/cmnd-ctrl
	push = group user/cmnd-ctrl
	label-Code-Review = -2..+2 group user/cmnd-ctrl
	label-Verified = -1..+1 group user/cmnd-ctrl
	rebase = group user/cmnd-ctrl
	removeReviewer = group user/cmnd-ctrl
	submit = group user/cmnd-ctrl
[access "refs/heads/*"]
	read = group user/cmnd-ctrl
	create = group user/cmnd-ctrl
	push = +force group user/cmnd-ctrl
	pushMerge = group user/cmnd-ctrl
[access "refs/tags/*"]
	push = +force group user/cmnd-ctrl
	pushTag = group user/cmnd-ctrl
	pushSignedTag = group user/cmnd-ctrl
